<div class="form_container">
	<h2>Sign up</h2>
	<% puts "+++++    ++++ #{resource.inspect}" %>
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
	<%= f.error_notification %>
	<%= display_base_errors resource %>
	<%= f.input :name, :autofocus => true %>
	<%= f.input :email, :required => true %>
	<%= f.input :password, :required => true %>
	<%= f.input :password_confirmation, :required => true %>
	<%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
	<% for role in User::ROLES %>
	    <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
	    <%=h role.humanize %><br />
	<% end %>
  	<%= hidden_field_tag "user[roles][]", "" %>
	<% end %>
	<%= render "devise/shared/links" %>
</div>
