<div class="main">
	<div class="welcome">
		Welcome,
		<%= current_user.name %>
	</div>
	<div class="main_mid">
		<div class="left_nav">
			<%= link_to 'HVAC Docs', '/equipment'%>
			<br><hr>
			<%= link_to "Profile", 'more/' %>
		</div>
		<div id="recent_container" class="links">
			<%= render 'logs/recent' %>
		</div>
		<div id="favorites_container" class="links">
			<%= render 'home/favorites' %>
			
		</div>
		<div class="clear"></div>
	</div>
</div>
	
